html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    gap: 10px;
}

.display-container {
    background-color: rgb(239, 239, 239);
    height: 100px;
    width: 100%;
}

.display-top {
    height: 50%;
}

.display-bot {
    height: 50%;
}

.calc-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    width: 100%;
}

.clear,
.delete {
    grid-column: span 2;
}